
body{background: #191970;
     display: flex;
     flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    gap: 30px;
     } 


#firstcol{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    margin-top:50px; 

}

#taco img{
    height: 430px;
    width: 900px;
} 

.text-heading h2, .text-heading h4{
    background:yellow;
    position: absolute;
}

.text-heading h2{
    top: 125px;
    left: 100px;
}

.text-heading h4{
     top: 185px;
     left: 100px;
}

#price{display: flex;
    flex-wrap: wrap;
       flex-direction: column;
       gap:30px}

#firstcol .pricing{
     height: 200px;
     width: 450px;
     background: yellow;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.pricing .rates{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.pricing .rates h1, h4{
    padding: 0%;
    margin: 0%;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width:inherit ;
}

#menu .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: yellow;
    width: 272px; 
}


#about{
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    gap:10px;
    flex-direction: row;
}

#about .info{
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height:150px;
    width:342px;
    gap:25px;
} 

#about .info .first img{
    height:50px;
    width:50px;
}

.info .second{
    text-align: center;
}


#feature{
    background: white;
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height:350px;
    gap:20px;;
}

#feature #image img{
    height:250px;
    width:450px;
    margin-top: 60px;
    margin-left: 50px;
}

#feature #feature-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:0px;justify-content: center;
}

#feature #feature-content h5{
    height:0px;
}

#name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:10px;
}

#name .line{

    height: 15px;
    width:645px;
    background: yellow;
    margin-top:25px;
}

/* responsivenes */

@media (max-width: 768px) {
  #menu {
    flex-direction: column;
    align-items: center;
  }

  #menu .items {
    width: 90%;
  }
}

@media (max-width: 1288px) {
    #firstcol{
        flex-direction: column;
        align-items: center;
    } 
}

